* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
}
header {
  height: 60px;
  background-color: #f0f0f0;
  margin: 0;
}
p {
  font-size: 20px;
}
h1 {
  font-size: 68px;
  color: white;
  text-shadow: 2px 2px grey;
}
h2 {
  color: #000;
  font-size: 42px;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
}
/* hr {
  width: 30px;
  text-align: center;
} */
header img {
  width: 80px;
  position: relative;
  left: 120px;
}
.nav-container {
  float: right;
}
.nav-container ul {
  margin: 0;
}
.nav-container ul li {
  display: inline-block;
}
.nav-container ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
  top: 22px;
  right: 120px;
  margin: 0 0 0 20px;
  padding-bottom: 0px 4px 6px 4px;
}
.nav-container ul li a:hover {
  color: rgb(151, 20, 20);
  transition: 0.25 ease-in;
}
.active {
  border-bottom: #000;
}
/* image landing page */

#container-bg {
  background: url("./images/img-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
#test {
  height: 1000px;
}
.content-wrapper {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  position: relative;
  top: 30%;
}
.content-wrapper p {
  text-transform: uppercase;
  color: white;
  margin: 20px 0px 60px 0px;
}
.content-wrapper a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 8px 16px;
  font-size: 22px;
}
.btn-down {
  margin: 0 auto;
  text-align: center;
}
.btn-down.fas {
  color: fff;
  font-size: 40px;
  position: absolute;
  bottom: 0px;
  transform: translate(-50%, -50%);
}
/* grid layout */
.grid-layout-50 > div {
  border: 1px solid red;
  padding: 8px;
  /* margin: 10px; */
}
.grid-layout-50 {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
}
.title {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.header {
  grid-column: 3;
  grid-row: 1 / 3;
}
.sidebar {
  grid-column: 2 / 4;
  grid-row: 3;
}
#introduction-section {
  margin: 0px auto 0 auto;
  padding: 80px 0px 0px 0px;
  text-align: center;
}
#grid-layout-33 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
  width: 80%;
  margin: 0 auto;
}
#grid-layout-33 > div {
  background-color: #f2f2f2;
  padding: 80px;
  text-align: center;
  box-shadow: 0 0 10px #000000;
  margin: 80px auto 40px auto;
}
#grid-layout-33 > div:hover {
  transition: 0.25 ease-in;
  background-color: #ffffff;
}
#grid-layout-33 .fas,
.far {
  color: #666666;
  font-size: 50px;
}
#grid-layout-33 p {
  font-size: 16px;
  color: #666666;
}
#test {
  height: 1000px;
}
/* adding a video */
#content-video {
  margin: 0 auto;
  text-align: center;
  padding: 80px 0px 0px 0px;
}
iframe {
  margin: 80px 0px 0px 0px;
  width: 560px;
  height: 315px;
  box-shadow: 0px 0px 10px #000000;
  cursor: pointer;
}
